.btn-add{
    width: fit-content;
    margin-bottom:20px
}
table{
    // width: 100%;
}

.card {
    border-radius: .5rem;
}
  
.table-scroll {
    border-radius: .5rem;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    // border-bottom : 1px solid;
}