
<div class="container"> 
    <!-- <div class="alert alert-success alert-dismissible" *ngIf="isSuccess">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong>.
    </div>
    <div class="alert alert-danger alert-dismissible" *ngIf="isError">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong>.
    </div> -->

    <div class="row justify-content-center pt-3 pb-3">
        <div class="col-10 card shadow p-4">

            <button type="button" class="btn btn-primary btn-add" [routerLink]="['../add']">Add Employee</button>

            <mat-form-field apperance="fill">
                <mat-label style="width: 100%;">Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input [value]="employeService.tmpSearch">
            </mat-form-field>
        
            <div class="table-responsive table-scroll">
                <table mat-table matSort [dataSource]="dataSource" class="table table-striped mb-0 mat-elevation-z8" matSortDirection="asc" (matSortChange)="sortChange($event)">
                
                    <ng-container matColumnDef="username">
                        <th *matHeaderCellDef mat-sort-header="username">Username</th>
                        <td *matCellDef="let element">{{element.username}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="firstName">
                        <th *matHeaderCellDef mat-sort-header="firstName">Full Name</th>
                        <td *matCellDef="let element">
                            <a [routerLink]="['../detail/', element.username]">
                                {{element.firstName}} {{element.lastName}}                            
                            </a>
                        </td>
                    </ng-container>
            
                    <ng-container matColumnDef="email">
                        <th  *matHeaderCellDef mat-sort-header="email">Email</th>
                        <td *matCellDef="let element">{{element.email}}</td>
                    </ng-container>
                      
                    <ng-container matColumnDef="birthDate">
                        <th *matHeaderCellDef mat-sort-header="birthDate">Birth Date</th>
                        <td *matCellDef="let element">{{element.birthDate}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="basicSalary">
                        <th *matHeaderCellDef mat-sort-header="basicSalary">Basic Salary</th>
                        <td *matCellDef="let element">{{element.basicSalary}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="status">
                        <th *matHeaderCellDef mat-sort-header="status">Status</th>
                        <td *matCellDef="let element">{{element.status}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="group">
                        <th *matHeaderCellDef mat-sort-header="group">Group</th>
                        <td *matCellDef="let element">{{element.group}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="description">
                        <th *matHeaderCellDef mat-sort-header="description">Description</th>
                        <td *matCellDef="let element">{{element.description}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="action">
                        <th *matHeaderCellDef class="text-center">Action</th>
                        <td *matCellDef="let element" align="center">
                            <button mat-raised-button class="bg-warning mr-1 btn-sm" [routerLink]="['../edit', element.username]">Edit</button>
                            <button mat-raised-button class="bg-danger btn-sm" (click)="askDelete(element.username)">Delete</button>
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
            
                </table>
            </div>
           
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
        
            <!-- <mat-paginator [length]="100"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator> -->

        </div>
    </div>

   
</div>



 