<div class="container">
    <div class="row justify-content-center h-100">
        <div class="card shadow mb-5">
            <div class="card-body px-5">
                <div class="text-center">
                    <!-- <fa-icon [icon]="falock" class="fa-3x"></fa-icon> -->
                </div>
                <div class="text-center">
                    <h2>Employee Detail</h2>
                </div>
                <table class="table table-bordered">
                    <tr>
                       <th>Username</th>
                       <td>{{data.username}}</td>
                    </tr>  
                    <tr>
                        <th>FullName</th>
                        <td>{{data.firstName}} {{data.lastName}}</td>
                     </tr>  
                     <tr>
                        <th>Email</th>
                        <td>{{data.email}}</td>
                     </tr>  
                     <tr>
                        <th>Birth Date</th>
                        <td>{{data.birthDate | date :'mediumDate'}}</td>
                     </tr>  
                     <tr>
                        <th>Basic Salary</th>
                        <td>{{data.basicSalary | currency:'Rp. ' : 'symbol'}}</td>
                     </tr>       
                     
                     <tr>
                        <th>Status</th>
                        <td>{{data.status}}</td>
                     </tr>

                     <tr>
                        <th>Group</th>
                        <td>{{data.group}}</td>
                     </tr>

                     <tr>
                        <th>Description</th>
                        <td>{{data.description}}</td>
                     </tr>
                </table>

                <div align="center">
                    <!-- <button class="btn btn-primary m-1" (click)="edit(data.username)">Edit</button>
                    <button class="btn btn-dark m-1" (click)="back()">Back</button> -->
                    <button class="btn btn-primary m-1" (click)="back()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
