<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class=" btn-primary nav-item text-white" role="button">
                    <a class="nav-link text-white" (click)="logout()">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mb-0 jumbo-custom">
    <div class="jumbo-content">
        <h1 class="mt-5">Employee Management</h1>
    </div>
</div>
<router-outlet></router-outlet>
