.jumbo-custom{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(orange, white);

    div.jumbo-content{
        width: fit-content;
        text-align: center;
    }

    h1{
        display: inline;
    }
}