<div class="row justify-content-center pt-5">
    <div class="col-6 card shadow p-4">
        <h3 class="fw-500">Edit Employee</h3>
        <form [formGroup]="employeForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-2">
                <label class="col-form-label">Username</label>
                <input type="text" formControlName="username" class="form-control" name="username">   
                <error-message [control]="getControl('username')"></error-message>      
            </div>

            <div class="form-row">
                <div class="form-group col mb-2">
                    <label class="col-form-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control">   
                    <error-message [control]="getControl('firstName')"></error-message>       
                </div>
        
                <div class="form-group col mb-2">
                    <label class="col-form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control">
                    <error-message [control]="getControl('lastName')"></error-message>
                </div>
            </div>
              
            <div class="form-group mb-2">
                <label class="col-form-label">Email</label>
                <input type="email" formControlName="email" class="form-control">
                <error-message [control]="getControl('email')"></error-message>
            </div>

            <div mat-form-field class="form-group mb-2">
                <label class="col-form-label">Birth Date</label>
                <div class="input-group">
                    <input class="form-control" formControlName="birthDate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
                    <div class="input-group-append">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>                                
            </div>
            
            <div class="form-group mb-2">
                <label class="col-form-label">Basic Salary</label>
                <input type="tel" formControlName="basicSalary" class="form-control">
                <error-message [control]="getControl('basicSalary')"></error-message>
            </div>

            <div class="form-group mb-2">
                <label class="col-form-label">Status</label>
                <input type="text" formControlName="status" class="form-control">
                <error-message [control]="getControl('status')"></error-message>
            </div>

            <div mat-form-field class="form-group mb-2">
                <label class="col-form-label">Group</label>
                <input type="text" class="form-control" [formControl]="groupControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
            </div>

            <div class="form-group mb-2">
                <label class="col-form-label">Description</label>
                <textarea type="text" formControlName="description" class="form-control" rows="3"></textarea>
                <error-message [control]="getControl('description')"></error-message>
            </div>
 

            <div class="mt-5 mb-3 text-center">
                <input type="submit" class="btn btn-primary w-auto m-1" value="Update">
                <button class="btn btn-dark w-auto m-1" (click)="backToHome()">Cancel</button>
            </div>
        </form>
    </div>
   
    
</div>
