<div class="container">
    <!-- <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong>.
    </div>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong>.
    </div> -->
</div>

<div class="row justify-content-center">
    <div class="col-6 card shadow p-4 mb-3">
        <h3>Add Employee</h3>
        <form [formGroup]="employeForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-2">
                <label class="col-form-label">Username</label>
                <input type="text" formControlName="username" class="form-control border-secondary" name="username">   
                <error-message [control]="getControl('username')"></error-message>      
            </div>

            <div class="form-row">
                <div class="form-group col mb-2">
                    <label class="col-form-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control border-secondary">   
                    <error-message [control]="getControl('firstName')"></error-message>       
                </div>
        
                <div class="form-group col mb-2">
                    <label class="col-form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control border-secondary">
                    <error-message [control]="getControl('lastName')"></error-message>
                </div>
            </div>
              
            <div class="form-group mb-2">
                <label class="col-form-label">Email</label>
                <input type="email" formControlName="email" class="form-control border-secondary">
                <error-message [control]="getControl('email')"></error-message>
            </div>

            <div mat-form-field class="form-group mb-2">
                <label class="col-form-label">Birth Date</label>
                <div class="input-group">
                    <input class="form-control border-secondary" formControlName="birthDate" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="dd/mm/yyyy">
                    <div class="input-group-append">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>                                
            </div>
            
            <div class="form-group mb-2">
                <label class="col-form-label">Basic Salary</label>
                <input type="number" formControlName="basicSalary" class="form-control border-secondary">
                <error-message [control]="getControl('basicSalary')"></error-message>
            </div>

            <div class="form-group mb-2">
                <label class="col-form-label">Status</label>
                <input type="text" formControlName="status" class="form-control border-secondary">
                <error-message [control]="getControl('status')"></error-message>
            </div>

            <div mat-form-field class="form-group mb-2">
                <label class="col-form-label">Group</label>
                <input type="text" class="form-control border-secondary" [formControl]="groupControl" [matAutocomplete]="auto" required>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <error-message [control]="getControl('group')"></error-message>      
            </div>

            <div class="form-group mb-2">
                <label class="col-form-label">Description</label>
                <textarea type="text" formControlName="description" class="form-control border-secondary" rows="3"></textarea>
                <error-message [control]="getControl('description')"></error-message>
            </div>
 
           
            <div class="mt-5 mb-3 text-center">
                <input type="submit" class="btn btn-primary w-auto m-1" value="submit">

                <button class="btn btn-dark w-auto m-1" (click)="backToHome()">Cancel</button>
            </div>
        </form>
    </div>
   
    
</div>
