<div class="container vh-100">
     <div class="row justify-content-center h-100">

        <div class="text-center" *ngIf="isError">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" (click)="close()">&times;</button>
                <strong>Error!</strong> {{ msgError }}.
            </div>
        </div>

        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">                    
                    <h2>LOGIN</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">Please enter your login</p>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" id="username" placeholder="Username" class="form-control"
                            name="username" formControlName="username" required/>
                           <div *ngIf="getControl('username').touched">
                               <small class="text-danger" *ngIf="getControl('username')?.errors?.required">
                                   Required
                               </small>
                           </div> 
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control"
                             name="password" formControlName="password" required/>
                            <div *ngIf="getControl('password').touched">
                                <small class="text-danger" *ngIf="getControl('password')?.errors?.required">
                                    Required
                                </small>
                            </div>
                    </div>
                    <input type="submit" class="btn btn-primary w-100" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>
